In [1]:
import pandas as pd

In [29]:
pop0010 = pd.read_csv('G:/Study/GWU/SS19/DNSC6217_Practicum/Other Source/co-est00int-alldata-51.csv')

In [4]:
pop1017 = pd.read_csv('G:/Study/GWU/SS19/DNSC6217_Practicum/Other Source/cc-est2017-alldata-51.csv')

In [7]:
pop0010.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE
0,50,51,1,Virginia,Accomack County,1,0,508,255,253,...,1,0,0,0,0,0,1,0,0,0
1,50,51,1,Virginia,Accomack County,1,1,1827,927,900,...,5,1,2,0,0,0,0,1,0,0
2,50,51,1,Virginia,Accomack County,1,2,2696,1409,1287,...,4,3,2,1,0,0,0,2,1,0
3,50,51,1,Virginia,Accomack County,1,3,2655,1351,1304,...,3,7,3,2,0,0,0,0,4,2
4,50,51,1,Virginia,Accomack County,1,4,2584,1417,1167,...,5,8,1,0,0,0,2,1,2,1

In [34]:
pop0010_drop = pop0010.drop(pop0010[pop0010.YEAR.isin([1,2,3,4,5,12])].index)

In [37]:
pop0010_drop_replace = pop0010_drop.replace({'YEAR' : { 6: '2004', 7: '2005', 8: '2006', 9: '2007', 10: '2008', 11: '2009', 13: '2010'}})

In [76]:
pop0010_sum = pop0010_drop_replace.loc[pop0010_drop_replace['AGEGRP'] == 99]

In [77]:
pop0010_sum.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE
119,50,51,1,Virginia,Accomack County,2004,99,36310,17615,18695,...,45,47,28,23,2,2,9,8,12,4
139,50,51,1,Virginia,Accomack County,2005,99,35835,17437,18398,...,46,44,29,25,3,3,9,11,6,9
159,50,51,1,Virginia,Accomack County,2006,99,35192,17146,18046,...,49,44,36,40,2,3,10,9,13,8
179,50,51,1,Virginia,Accomack County,2007,99,34553,16821,17732,...,48,43,36,35,5,4,7,11,17,13
199,50,51,1,Virginia,Accomack County,2008,99,33970,16519,17451,...,53,40,46,46,5,5,6,9,18,14

In [41]:
pop1017_drop = pop1017.drop(pop1017[pop1017.YEAR.isin([1,2,3])].index)

In [42]:
pop1017_drop_replace = pop1017_drop.replace({'YEAR' : { 4: '2011', 5: '2012', 6: '2013', 7: '2014', 8: '2015', 9: '2016', 10: '2017'}})

In [78]:
pop1017_sum = pop1017_drop_replace.loc[pop1017_drop_replace['AGEGRP'] == 0]

In [79]:
pop1017_sum.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
57,50,51,1,Virginia,Accomack County,2011,0,33222,16223,16999,...,1503,1182,73,62,71,60,8,10,8,10
76,50,51,1,Virginia,Accomack County,2012,0,33264,16275,16989,...,1491,1154,81,81,69,63,9,10,8,9
95,50,51,1,Virginia,Accomack County,2013,0,32963,16090,16873,...,1443,1151,78,88,74,66,9,8,10,9
114,50,51,1,Virginia,Accomack County,2014,0,32965,16067,16898,...,1398,1151,97,95,71,60,9,10,8,10
133,50,51,1,Virginia,Accomack County,2015,0,32911,16024,16887,...,1419,1178,105,94,74,63,11,9,8,9

In [83]:
pop1017_sum.shape

(931, 80)

In [84]:
pop0010_sum.shape

(938, 50)

In [85]:
population_raw = pd.concat([pop0010_sum, pop1017_sum], ignore_index=True)

G:\Study\Python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [89]:
population_raw.shape

(1869, 80)

In [100]:
population = population_raw[['STNAME','CTYNAME','YEAR','TOT_POP']]

In [101]:
population.describe(include=['object'])

          STNAME             CTYNAME  YEAR
count       1869                1869  1869
unique         1                 134    14
top     Virginia  Mecklenburg County  2005
freq        1869                  14   134

In [103]:
population.to_csv('population.csv')

In [ ]:
population2 = population['CTYNAME']